bert-embedding==1.0.1
cached-property==1.5.2
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
filelock==3.0.12
future==0.18.2
gluonnlp==0.6.0
graphviz==0.8.4
h5py==3.1.0
h5py-wrapper==1.1.0
idna==2.6
joblib==1.0.0
json5==0.9.5
mxnet==1.4.0
nltk==3.5
numpy==1.14.6
packaging==20.8
pyparsing==2.4.7
pytest-runner==5.2
PyYAML==5.3.1
regex==2020.11.13
requests==2.18.4
sacremoses==0.0.43
scikit-learn==0.24.0
scipy==1.5.4
sentence-transformers==0.4.0
sentencepiece==0.1.94
six==1.15.0
threadpoolctl==2.1.0
tokenizers==0.9.4
torch==1.7.1
tqdm==4.55.0
transformers==4.1.1
typing==3.6.6
typing-extensions==3.7.4.3
urllib3==1.22
wget==3.2
